<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Security </title>
    <link rel="stylesheet" href="index.css">
</head>




<body>

    <div class="topnav">
        <ul>
            <li><a class="nav-item" href="#Alerts">Alerts</a></li>
            <li><a class="nav-item" href="#24/7">24/7</a></li>
            <li> <a class="nav-item" href="https://codepen.io/bfgustaf/pen/jOVRmEq">Devices</a></li>
            <li><a class="nav-item" href="#Automation">Automation</a></li>
            <li><a class="nav-item" href="#about">Settings</a></li>
        </ul>
    </div>
    <!-- <iframe src="https://codepen.io/bfgustaf/pen/ZEebBpN" width="400" height="200"></iframe> -->

    <!-- <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" autoplay="yes" loop="no" width="300" height="200" target="rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov" />
<object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab" style="display:none;"></object> -->
    <div id="video">
        <iframe src="https://rtsp.me/embed/KHny8FKr/" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="camStream">
        <video src="{{ url_for('webcam') }}"></video>

    </div>

</body>


</html>