<!DOCTYPE html>
<html lang="en">
{% load socialaccount %} {% load static %} {% load index_extras %} {% url 'home' as home %} {% url 'devices' as devices %} {% url 'automation' as automation %} {% url 'settings' as settings %} {% load camera_extras %}

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home Security {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/index/css/index.css' %}"> {% endblock %}
</head>




<body>
    {% block nav-bar %}
    <div class="topnav">
        <ul>
            <li><a class="nav-item {% active request home %}" href="/{{ home }}">Home</a></li>
            <li><a class="nav-item" href="#Alerts">Alerts</a></li>
            <li><a class="nav-item" href="#24/7">24/7</a></li>
            <li> <a class="nav-item {% active request devices %}" href="{{ devices }}">Devices</a></li>
            <li><a class="nav-item {% active request devices %}" href="{{ automation }}">Automation</a></li>
            <li><a class="nav-item {% active request devices %}" href="{{ settings }}">Settings</a></li>
            {% if user.is_authenticated %}
            <li><a class="nav-item" href="/logout">Logout</a></li>
            {% else %}
            <li><a href="{% provider_login_url 'google' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% endblock %} {% block body %} {% block body %}
    <h1>Cameras</h1>
    <div style="display: flex; flex-wrap:wrap; flex-direction:row; width:50%">
        {% if cams|length > 0 %} {% for cam in cams %}
        <div="stream_holder" style="margin:1em; width:50%">
            <img style="width:720px;height:420px;border:solid 1px; " src="{{ cam.pk|prepend:'devices/monitor/' }}">

            <form action="{{ cam.pk|prepend:'devices/' }}" method="POST">
                {% csrf_token %}
                <input type="submit" id={{ cam.pk }} value="Record">
            </form>
    </div>
    {% endfor %}{% endif %}
    </div>
    {% endblock %}

    <footer>
        <div class="footer-content">
            <h3>Tri-Tech Bros</h3>
        </div>
    </footer>
</body>

<script>
    //Status constants
    var SESSION_STATUS = Flashphoner.constants.SESSION_STATUS;
    var STREAM_STATUS = Flashphoner.constants.STREAM_STATUS;

    //Websocket session
    var session;

    //Init Flashphoner API on page load
    function init_api() {
        console.log("init api");
        Flashphoner.init({});
    }

    //Connect to WCS server over websockets
    function connect() {
        session = Flashphoner.createSession({
            urlServer: "wss://demo.flashphoner.com"
        }).on(SESSION_STATUS.ESTABLISHED, function(session) {
            console.log("connection established");
            playStream(session);
        });
    }

    //Playing stream with given name and mount the stream into myVideo div element
    function playStream() {
        var options = {
            "rtsp://admin:TriTechBr0s@209.65.187.212",
            display: document.getElementById("myVideo")
        };
        var stream = session.createStream(options).on(STREAM_STATUS.PLAYING, function(stream) {
            console.log("playing");
        });
        stream.play();
    }
</script>


</html>