<!DOCTYPE html>
<html lang="en">
{% load socialaccount %} {% load static %} {% load index_extras %} {% url 'home' as home %} {% url 'devices' as devices %} {% url 'automation' as automation %}

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home Security {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/index/css/index.css' %}"> {% endblock %}
</head>




<body>
    {% block nav-bar %}
    <div class="topnav">
        <ul>
            <li><a class="nav-item {% active request home %}" href="/{{ home }}">Home</a></li>
            <li><a class="nav-item" href="#Alerts">Alerts</a></li>
            <li><a class="nav-item" href="#24/7">24/7</a></li>
            <li> <a class="nav-item {% active request devices %}" href="{{ devices }}">Devices</a></li>
            <li><a class="nav-item {% active request devices %}" href="{{ automation }}">Automation</a></li>
            <li><a class="nav-item" href="#Settings">Settings</a></li>
            {% if user.is_authenticated %}
            <li><a class="nav-item" href="/logout">Logout</a></li>
            {% else %}
            <li><a href="{% provider_login_url 'google' %}">Login</a></li>
            {% endif %} {% endblock %}
        </ul>
    </div>

    {% block body %} {% endblock %}

    <img id="myVideo" style="width:420px;height:360px;border: solid 1px" src="{% url 'monitor' %}">


</body>

<script>
    //Status constants
    var SESSION_STATUS = Flashphoner.constants.SESSION_STATUS;
    var STREAM_STATUS = Flashphoner.constants.STREAM_STATUS;

    //Websocket session
    var session;

    //Init Flashphoner API on page load
    function init_api() {
        console.log("init api");
        Flashphoner.init({});
    }

    //Connect to WCS server over websockets
    function connect() {
        session = Flashphoner.createSession({
            urlServer: "wss://demo.flashphoner.com"
        }).on(SESSION_STATUS.ESTABLISHED, function(session) {
            console.log("connection established");
            playStream(session);
        });
    }

    //Playing stream with given name and mount the stream into myVideo div element
    function playStream() {
        var options = {
            "rtsp://admin:TriTechBr0s@209.65.187.212",
            display: document.getElementById("myVideo")
        };
        var stream = session.createStream(options).on(STREAM_STATUS.PLAYING, function(stream) {
            console.log("playing");
        });
        stream.play();
    }
</script>


</html>