#addDevice {
    align-content: center;
    align-self: center;
    min-width: 350px;
    max-width: 450px;
    width: 40vw;
    padding: 2rem;
}

#addDevice input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;
}
html {
    --primaryColor: rgb(34, 77, 92);
    --secondaryColor: rgb(81, 115, 226);
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}

footer {
    margin: auto;
    margin-top: 2em;
    margin-left: 6vw;
    border-radius: 35px 34px 0px 0px;
    width: 87.5%;
    padding: .1em;
    background: #C6CFDB;
    position: absolute;
    bottom: 0;
    color: #182848;
    text-align: center;
}

.footer-content {
    border-radius: 10px;
    padding-left: 5em;
}


/* Add a color to the active/current link */

.topnav ul li.active {
    background-color: black;
    color: rgb(81, 115, 226);
}


/* iframe {
    background: #000;
    border: none;
    width: 100%;
    height: 90%;
    position: fixed;
} */

#video {
    padding-top: 20px;
}

#video iframe {
    width: 100%;
    height: 50vw;
    display: block;
}

.topnav {
    background-color: #C6CFDB;
    display: block;
    text-align: center;
    position: relative;
    width: 90%;
    border-radius: 3em;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.topnav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    padding: 1vw;
    text-align: center;
}

.topnav ul li {
    list-style: none;
    text-decoration: none;
    /* margin: 10px; */
    width: 100%;
    height: 100%;
}

.topnav ul li a {
    list-style: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 2vw;
    color: #182848;
    font-weight: bold;
}

.form_holder {
    align-content: center;
    align-self: center;
    min-width: 350px;
    max-width: 450px;
    width: 40vw;
    padding: 2rem;
}

.form_holder input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;
}

.cameras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.camView {
    width: 26vh;
    height: 16vh;
    margin: 1em 0em 1em 0em;
}

h1 {
    display: block;
    margin-left: 1em;
    width: 100%;
}

.stream_holder {
    margin: 1em;
    background-color: #182848;
    border-radius: 1em;
    -webkit-box-shadow: 0px 7px 8px 3px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 7px 8px 3px rgba(0, 0, 0, 0.65);
}

.viewBackground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #C6CFDB;
    width: 85%;
    margin: auto;
    border-radius: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

}


.recordBtn {
    background: red;
    color: white;
    border-radius: 3em;
    font-weight: bold;
    border-color: bisque;
    width: 10em;
    height: 5em;
    font-size: .75em;
    margin: auto;
    display: block;
    margin-bottom: 1em;
}

body {
    height: 100%;
}

#addDeviceBtn{
    width: 5vh;
    height: 5vh;
    padding: 0.25em 0.8em;
    padding-top: 1vh;
    margin-left: auto;
}

#addDevice{
    background-color:  #C6CFDB;
    border-radius: 2vh;
    font-size: 2vh;
}

#diagBtns{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#camOptions{
    display: flex;
    width: 100%;
    /*margin-bottom: 1em;*/
    font-size:large;
}

.camName{
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    margin-bottom: 0%;
    color: #C6CFDB;
    font-size: 1.5vh;
}

#allCams{
    width: 80%;
    font-size: 3vh;
    color: #182848;
}

.btnBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 1em;
}
.btn{
    background-color: #C6CFDB; /* Green */
    border: none;
    color: #192A49;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1vw;
    font-size: 1.2vw;
    padding: .75em;
}

#weather{
    width: 50%;
    border-radius: 2vh;
    margin: 1vh;
    float: left;
}

.weatherwidget-io{
    border-radius:1vh ;
    padding: 1vh;
}

.btn:hover{
    background-color:#A5587B;
}

#foot{
    margin:0 !important;
    color: #182848;
}