.topnav ul li:hover {
    background-color: rgb(56, 147, 252);
    color: black;
}


/* Add a color to the active/current link */

.topnav ul li.active {
    background-color: black;
    color: rgb(81, 115, 226);
}


/* iframe {
    background: #000;
    border: none;
    width: 100%;
    height: 90%;
    position: fixed;
} */

#video {
    padding-top: 20px;
}

#video iframe {
    width: 100%;
    height: 50vw;
    display: block;
}

.topnav {
    background-color: rgb(34, 77, 92);
    display: block;
    text-align: center;
    position: relative;
    height: 10%;
    width: 100%;
    border-radius: 5px;
}

.topnav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin: 0;
    /* width: 100%; */
    padding: 0;
    padding: 2vw;
}

.topnav ul li {
    list-style: none;
    text-decoration: none;
    /* margin: 10px; */
    width: 100%;
    height: 100%;
}

.topnav ul li a {
    list-style: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-size: 2vw;
    color: white;
}
.form_holder{
align-content:center;
align-self:center;
min-width:350px;
max-width:450px;
width:40vw;
padding:2rem;
}

.form_holder input{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;
}

