{% extends "index.html" %}
{% load static %}
{% load camera_extras %}
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'camera/css/camera.css' %}">
    </head>
    <title>{% block title %} Devices {% endblock %} </title>

    {% block body %}
        <div class="form_holder">
            <form  action="/devices/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add Device">
            </form>
        </div>
        <div>
            {% if cams|length > 0 %}
            <h1>Cameras</h1>
                {% for cam in cams %}
                <div class="stream_holder">
                    <img style="width:420px;height:360px;border:solid 1px;" src="{{ cam.pk|prepend:"monitor/" }}">
                    <form action="{{ cam.pk|prepend:"record/" }}" method="POST">
                        {% csrf_token %}
                        <input type="submit" id={{ cam.pk }} value="Record">
                    </form>
                    <form action="{{ cam.pk|prepend:"remove/" }}" method="POST">
                        {% csrf_token %}
                        <input type="submit" id="{{ cam.pk|prepend:"remove_" }}" value="Remove">
                    </form>
                    <form action="{{ cam.pk|prepend:"featured/" }}" method="POST">
                        {% csrf_token %}
                        <label for="{{ cam.pk|prepend:"featured_" }}" value="Featured">
                        <input type="submit" name="{{ cam.pk|prepend:"featured_" }}" id="{{ cam.pk|prepend:"featured_" }}" value="{% if cam.featured %}Make Featured{% else %}Remove Featured{% endif %}">
                    </form>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}

</html>

