{% extends "index.html" %} {% load static %} {% load camera_extras %}

{% block head_ex %}
    <link rel="stylesheet" type="text/css" href="{% static 'camera/css/camera.css' %}">
    <script type="text/javascript" src="{% static 'camera/js/devices.js' %}"></script>
{% endblock %}

{% block title %} Devices {% endblock %} 
{% block body %}

<dialog id="addDevice">
    <form action="/devices/" method="post">
        {% csrf_token %} {{ form }}
        <div id="diagBtns">
            <input class="btn" id="submit" type="submit" value="Add Device">
            <input class="btn" id="cancel" type="submit" value="cancel">
        </div>
    </form>
</dialog>

<div class="viewBackground">
    <div id="camOptions">
        <h3 id="allCams">All Cameras</h3>
        <input id="addDeviceBtn" type="image" src="{% static 'camera/media/plus.png' %}"></input>
    </div>


    <div class="cameras">

        {% if cams|length > 0 %} {% for cam in cams %}
        <div class="stream_holder">
            <h3 class="camName">{{ cam.location }}</h3>
            <img class="camView" src="{{ cam.pk|prepend:"monitor/" }}">
            <!--<img class="camView" src="{#% static 'camera/media/lol.png' %#}">-->
            <div class="btnBar">
                <form  action="{{ cam.pk|prepend:"record/" }}" method="POST">
                    {% csrf_token %}
                    <input class="btn" type="submit" id={{ cam.pk }} value="Record">
                </form>

                <form action="{{ cam.pk|prepend:"remove/" }}" method="POST">
                    {% csrf_token %}
                    <input class="btn" type="submit" id="{{ cam.pk|prepend:"remove_" }}" value="Remove">
                </form>


                <form action="{{ cam.pk|prepend:"featured/" }}" method="POST">
                    {% csrf_token %}
                    <label for="{{ cam.pk|prepend:"featured_" }}" value="Featured">
                    <input class="btn" type="submit" name="{{ cam.pk|prepend:"featured_" }}" id="{{ cam.pk|prepend:"featured_" }}" value="{% if cam.featured %}Remove Featured{% else %}Make Featured{% endif %}">
                </form>



            </div>


        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

